:root{
  --background-color: #f5f5f5;
  --card-border-color: #ccc;
  --title-color: #333;
  --description-color: #555;
  --price-color: #000;
  --button-bg-color: #28a745;
  --button-hover-bg-color: #218838;
  --button-text-color: #fff;
  --like-button-bg-color: #7bb1eb;
  --like-button-hover-bg-color: #3195ff;
  --like-button-active-bg-color: #213c85;
  --like-counter-color: #ea0d0d;
}
