.card-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #ccc;
  padding: 15px;
  align-items: center;
  max-height: fit-content;
  max-width: 300px;
}
.card-content__title {
  font-size: 1.5em;
  font-weight: bold;
}
.card-content__image { 
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.card-content__description {
  font-size: 1em;
  color: #555;
  text-align: left;
}
.card-content__price {  
  font-size: 1.2em;
  color: #000;
}
.card-content__price span {
  font-size: 0.8em;
  vertical-align: super;
}
.buy-btn {  
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: all 0.3s ease;
}
.buy-btn:hover {
  background-color: #218838;
}