@import "./colors.css";

body {
  font-family: "Roboto", sans-serif;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid var(--card-border-color);
  padding: 15px;
  align-items: center;
  max-height: fit-content;
  max-width: 300px;
}
.card-content__title {
  font-size: 1.5em;
  font-weight: bold;
  color: var(--title-color);
}
.card-content__image { 
  width: 100%;
  height: 280px;
  display: flex;
  justify-content: center;
}
.card-content__image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.card-content__description {
  font-size: 1em;
  color: var(--description-color);
  text-align: left;
}
.card-content__price {  
  font-size: 1.2em;
  color: var(--price-color);
}
.card-content__price span {
  font-size: 0.8em;
  vertical-align: super;
}
.buy-btn {  
  padding: 10px 20px;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: all 0.3s ease;
}
.buy-btn:hover {
  background-color: var(--button-hover-bg-color);
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width:992px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width:600px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width:480px) {
  .card-content {
    width: 100%;
  }
}